<div class="p-3">
 <div class="mb-5">
   <img src="../../../../assets/1.png" alt="" style="width: 10%;">
  <span class="colorbase fs-3 fst-bold ">airbnb</span></div>
  <div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">hosters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Black List</a>
      </li>
    </ul>

  </div>

</div>



