<div class="container-fluid">
  <div class="row">
    <div
      class="card m-5 text-black cards shadow"
      *ngFor="let user of array"
      style="width: 18rem"
    >
      <!-- <img [src]="" class="card-img-top" alt="..."> -->
      <div class="card-body col-12 d-flex justify-content-between align-items-start">

        <div class="col-9 me-5">
          <p class="card-title">name:{{user.name}}</p>
          <p class="card-text">mobile:{{user.mobile}}</p>
          <p class="card-text">email:{{user.email}}</p>
          <p class="card-text">password:{{user.password}}</p>
          <p class="card-text">age:{{user.age}}</p>
        </div>
          <!-- dropdown -->
          <div class="navs text-end col-2 ms-5" id="navigation">
            <ul class="links">
              <li class="dropdown">
                <a href="#" class="trigger-drop">
                  <i class="bi bi-list fs-3"></i
                ></a>
                <ul class="drop">
                  <li>
<a>                    <button class="btn btn" routerLink="/edit_user" (click)="edituser(user.eventId)" >Edit</button>
</a>
                  </li>
                  <li>

                    <a routerLink="/users" (click)="onClickRemove(user.eventId)" routerLinkActive="active">delete</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <!-- end dropdown -->

      </div>

    </div>
  </div>
</div>
