<div class="container-fluid">
    <div class="row ">
<div class="card m-5 bg-secondary text-white" *ngFor="let user of array" style="width:18rem;">
    
    <div class="card-body">
        <p class="card-title">name:{{user.name}}</p>
        <p class="card-text">mobile:{{user.mobile}}</p>
        <p class="card-text">email:{{user.email}}</p>
        <p class="card-text">password:{{user.password}}</p>
        <p class="card-text">age:{{user.age}}</p>
         
    </div>
     

</div>
</div>
</div>