.cards{
  border-color: transparent !important;
}
h5{
  color:#ff385c;
}
//

$color-base:#fff;
$color-text:#222;
$color-accent:#ff385db3;




a,a:hover{color:$color-accent; text-decoration : none; font-weight:600;}

.navs{

  .logo{
    position:relative;
    float:left;
    height:50px;
    line-height:50px;
    padding:0 15px;
    font-size:22px;
    font-weight:900;
    text-transform:uppercase;
    span{
      display:inline-block;
      position:relative;
      top:-8px;
      font-size:13pt;
    }

    &:hover{
      background:lighten($color-accent,40);
    }
  }

  .links{
    float:right;
    margin-right: 30px;
    position:relative;

    li{
      float:left;
      list-style:none;
      position:relative;
      margin:10px;
      display:inline-block;

      &>a{
        position:relative;
        display:inline-block;
        padding:0 10px;
        line-height:30px;
        height:30px;

        &:hover{
          color:#ff385c;

        }

        &[class^="trigger-"]{padding-right:40px;}


      }

      ul{
          position:absolute;
          left:0;
          // top:0px;
          margin:0;
          background:$color-base;
          border-radius:2px;
          box-shadow:0 0 5px rgba(#000, .15);
          display:none;

          >li{
            clear:both;
            list-style:none;
            display:block;
            padding:0 10px;
            margin:0;
            width:100%;

            &:hover{
              background:lighten($color-accent,40);
              >a{
                background:lighten($color-accent,40);
                color:$color-text;
              }
            }
          }

        }

      &:hover {
          > .drop{
            display:block;
            animation:fadeInRight .3s ease;
            -webkit-animation:fadeInRight .3s ease;
        }
      }

    }
  }

}

@keyframes fadeInRight{
    0%{
        opacity:0;
        transform:translate3d(100%,0,0)
    }
    100%{
        opacity:1;
        transform:none
    }
}
