


<div class="container-fluid">
  <div class="row">
    <div
      class="card m-5 text-black cards shadow"
      *ngFor="let presenter of array"
      style="width: 18rem"
    >
      <!-- <img [src]="" class="card-img-top" alt="..."> -->
      <div class="card-body col-12 d-flex justify-content-between align-items-start">

        <div class="col-9 me-5">
          <p class="card-title">name:{{presenter.name}}</p>
          <p class="card-text">nationalID:{{presenter.nationalID}}</p>
          <p class="card-text">mobile:{{presenter.mobile}}</p>
          <p class="card-text">email:{{presenter.email}}</p>
          <p class="card-text">password:{{presenter.password}}</p>
          <p class="card-text">company:{{presenter.company}}</p>
          <p class="card-text">age:{{presenter.age}}</p>
          <p class="card-text">address:{{presenter.address}}</p>
        </div>
          <!-- dropdown -->
          <div class="navs text-end col-2 ms-5" id="navigation">
            <ul class="links">
              <li class="dropdown">
                <a href="presenter" class="trigger-drop">
                  <i class="bi bi-list fs-3"></i
                ></a>
                <ul class="drop">
                  <li>
                    <a routerLink="/edit" (click)="updateData(presenter.eventId)" routerLinkActive="active">Edit</a>
                  </li>
                  <li>
                    <a routerLink="/presenter" (click)="onClickRemove(presenter.eventId)" routerLinkActive="active">delete</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <!-- end dropdown -->

      </div>

    </div>
  </div>
</div>
